* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.title {
  text-align: center;
  margin: 40px 0px;
  font-family: fantasy;
}
.btn {
  background-color: dodgerblue;
  color: white;
  /* ikkita qiymat berish */

  /* top & bottom ----- left & right */
  /* padding: 10px 30px;

    border-radius: 5px 20px;
    display: block;
    margin: 50px auto;
    */

  /* tortta qiymat berish */

  /* soat strelkasi bo'yicha */
  /* top -> right bottom -> left */
  padding: 50px 20px 30px 5px;
  /* tepadagi va pastdagi bir-biriga equal */
  /* padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 5px; */
  border-radius: 20px 20px 0px 0px;
}
.with_border_box {
  width: 250px;
  height: 200px;
  background-color: pink;
  border: 10px solid red;
  padding: 30px;
  /* border-box da bo'lsa padding va border width va height ni ichidan oladi */
  box-sizing: border-box;
}
.without_border_box {
  width: 250px;
  height: 200px;
  background-color: dodgerblue;
  border: 10px solid blue;
  padding: 30px;
  /* default holatda context-box bo'ladi */
  /* content-box da pading va border elementni kattalashtirib yuboradi */
  box-sizing: content-box;
}
